[2017-04-13 02:09] nightmorph opened #5 "teletype studies 5: mismatched image & description"
(section: "dolphin and seagull" example)

according to `tts5.md`, line 218, _script two_ is supposed to "Ramp down CV 4". but that script in `tts5.png` uses **CV D**, so it will never get turned off. **CV 4** level always remains high. either the text in `tts5.md` needs to be changed to **CV D**, or the image needs to be updated to **CV 4**.

[2017-04-13 02:27] nightmorph opened #6 "ansible: vague/broken description"
`ansible/index.md`, line 347:

[code]
i'm not sure what this text meant to say around the linebreak of "way to make one-shots," else i would have filed an actual pull request with suggested text. it looks like a section got deleted mid-sentence. maybe something like "this is a way to make one-shots," with a short phrase explaining what those are in this context?

[2017-11-09 16:24] cmcavoy opened #9 "Add a license"
Can we add a license so it's clear how the content can be re-used? Given it's all docs, I guess creative commons would make the most sense.

[2017-11-09 17:51] tehn commented on #9
this makes sense, go ahead

On Thu, Nov 9, 2017 at 11:24 AM, Chris McAvoy <notifications@github.com>
wrote:

[2017-11-09 18:31] cmcavoy commented on #9
done.

[2017-11-09 18:31] #9 closed

[2018-01-07 20:13] unity2k opened #14 "Teletype Studies 5"
Please change the reference from ~ to Tab and NumLock to get to the Tracker

[2018-01-07 22:30] unity2k opened #15 "Help shortcut"
The shortcut for Help is listed at Alt + ? in the user manual when it should read Shift + Alt + ?

[2018-01-08 03:49] unity2k opened #16 "Saving TT files"
The following information is missing from the user manual:

Scenes that are saved from the TT will be stored as

tt00s.txt
on your flash drive. The numbers will be the scene number and note the “s”.
To load something from the flash drive you just need to rename the file, and leave off the “s”.

To load the mlr.txt file to scene number 10 you rename the file to

tt10.txt
and place it on your flash

[2018-01-08 04:06] unity2k opened #17 "Inconsistency between Teletype Help and Manual"
On the Teletype variables are listed as a mix of A / B and for some operators X.

But in the user manual it seems exclusively X and sometimes Y too.

For example; TT Help has P.WRAP A while the user manual lists this op as P.WRAP X

Why would this not be consistent across presentations?

[2018-01-09 19:30] unity2k opened #18 "L is not explicitly defined"
While coders may already be familiar with L as the alias for Loop, it is not explicitly defined in the user manual. See page 31

The same regarding W for While.

[2018-01-10 00:42] unity2k opened #19 "Advanced.md doc"
The "advanced.md" in the Teletype/docs directory has a drawing explaining the PRE / POST terminology that is not currently in the user manual. I find this helpful and think others would too.

[2018-01-11 14:25] samdoshi commented on #19
Looks like it is to me: https://monome.org/docs/modular/teletype/manual/#advanced

[2018-01-11 14:30] unity2k commented on #19
Sure enough. It's even in the PDF which I missed as with 154 results searching for "pre" I hadn't considered it might be below the operators for the various other modules and I had "assumed" I'd find it in the main Teletype help section. My bad.

[2018-01-11 14:31] #19 closed

[2018-01-15 18:30] tehn opened #20 "tt usb disk txt needs to get in the manual"
https://github.com/monome/docs/blob/a00b371c45c7f3edf7826a006e5efae4cb8d8a47/docs/modular/teletype/index.md#usb-flash-drive-scene-readwrite

[2018-01-25 20:21] dndrks opened #25 "all JFTT docs: musical example Pattern code"
Pattern sections in musical example code are not formatting as intended after commit.

[2018-01-25 20:27] dndrks opened #26 "JFTT 5 + 6: banner videos not dynamically resizing on mobile"
![img-7310](https://user-images.githubusercontent.com/24821020/35410694-d48071ae-01db-11e8-9027-73e2665b8c0e.PNG)
![img-7309](https://user-images.githubusercontent.com/24821020/35410695-d55757f0-01db-11e8-95f6-ca5016840de6.PNG)

[2018-01-29 13:42] unity2k opened #27 "Euclidean Rhythms"
Sam Doshi has a great blog post about Euclidean Rhythms that would benefit the reader of the Teletype user manual:

http://samdoshi.com/post/2016/03/teletype-euclidean/

[2018-01-29 14:01] #27 closed

[2018-01-30 14:59] dndrks opened #28 "JFTT 1, line 28: some hyperlinks not formatting"
<img width="1273" alt="screen shot 2018-01-30 at 8 58 08 am" src="https://user-images.githubusercontent.com/24821020/35573144-d3d388b8-059b-11e8-9bdd-705a3a6149d3.png">

[2018-01-30 15:01] dndrks commented on #25
<img width="1275" alt="screen shot 2018-01-30 at 9 00 44 am" src="https://user-images.githubusercontent.com/24821020/35573233-1c49c666-059c-11e8-87a9-c7cc2714a34b.png">

[2018-01-30 15:02] tehn commented on #28
fixed

8a603da..50e4fa1

github markdown format requires no space in between () and []

[2018-01-30 15:02] #28 closed

[2018-03-01 16:29] tehn opened #31 "ansible feature updates"
from https://github.com/monome/ansible/pull/30

track muting: hold the loop mod button and press a track button to toggle its mute state

clock-relative durations: when the max duration is set, pulse-width of the gate is 100% based on current clock. works as a tied note.

teletype track clocking: set a track to be clocked by teletype in the upper left of the pattern screen. when activated, track w

[2018-04-16 18:19] mtallen opened #34 "Path to the glide png for the new ansible documentation is incorrect"
Looks like I checked in a version that pointed to the wrong image file this line

\!\[]\(images\grid_KR_Glide-01.png)

should be

\!\[]\(images\grid_KR_Glide.png)

Should I do another pull request?

[2018-04-16 18:55] #34 closed

[2018-11-26 09:04] nightmorph commented on #14
i made a pull request that fixes this bug with this commit:

https://github.com/monome/docs/commit/52ff40432bdad4676f9527a9e438f42f8045fda5

...which updates all references to tilde and the tracker throughout the docs. not just the studies, but also their linked example scenes.

(not sure why this pullreq got added into my earlier pullreq that was on the ansible docs; github shouldn't have lumped

[2018-11-26 09:15] nightmorph commented on #25
i made a pull request that fixes this bug with this commit:

https://github.com/monome/docs/pull/63/commits/aaec50cf0f62aeb84361b68681397861816daa7d

(github is still improperly lumping together multiple separate pull requests into just one, even though each commit is a separate fix to the different teletype/ansible/JF docs. apologies; they can still be automerged.)

[2018-11-26 13:58] nightmorph commented on #14
fixed!

[2018-11-26 13:58] #14 closed

[2018-12-07 18:53] pq opened #64 "[tracking] updates for norns 2.0"
tracking issue for doc updates corresponding w/ [norns 2.0](https://github.com/monome/norns/milestone/4)

---

bits to review:

- [ ] studies
  - [ ] [study 1](https://github.com/monome/docs/blob/master/docs/norns/study-1.md)
  - [ ] [study 2](https://github.com/monome/docs/blob/master/docs/norns/study-2.md)
  - [ ] [study 3](https://github.com/monome/docs/blob/master/docs/norns/study-3.md)
  - [

[2018-12-07 18:57] tehn commented on #64
also:

- [ ] script gathering/sharing (how to manage `dust`, lines wiki thread for directory of scripts)
- [ ] script repos and docs (ie, move `mlr` to its own repo, update docs)

[2019-01-14 06:40] nightmorph commented on #31
the last remaining feature to be added, clock-relative durations, is now in the docs. (the others were already present). fixed in commit fe6e45fc6dc52af2af48d90630c08f33fc1547d5:

https://github.com/monome/docs/commit/fe6e45fc6dc52af2af48d90630c08f33fc1547d5

[2019-01-14 06:40] #31 closed

[2019-01-14 06:57] nightmorph commented on #6
this section's descriptions are now cleaned up; fixed by commit 0620233d43afc4c07772e35a316f2969c162536b .

[2019-01-14 06:57] #6 closed

[2019-01-14 07:45] nightmorph commented on #16
This info was put in the Teletype manual awhile back; see this section:

https://monome.org/docs/modular/teletype/manual/#usb-backup

[2019-01-14 07:45] #16 closed

[2019-01-14 07:47] nightmorph commented on #20
This info was put in the Teletype manual awhile back; see this section:

https://monome.org/docs/modular/teletype/manual/#usb-backup

Not sure when it was added; but that was what was fixes the request in the duplicate bug #16 .

[2019-02-16 23:02] benzweig opened #66 "mixed up bracket in ex. screenshot"
hey there! wasn't sure how to submit a PR for this as it's an image, but on line 26 of https://github.com/monome/docs/blob/master/docs/grid-studies/nodejs/images/grid-studies-nodejs-2.png there appears to be a `[` to the left of `s`, when you want a `{`. only noticed because i wasn't sure why i was getting `key received: 0, 0, $[s}` 😛

cheers!

[2019-02-16 23:42] nightmorph commented on #66
@tehn, if the docs website backend runs jekyll with syntax highlighting (and it looks like it does, per the css), then what about converting the somewhat browser-unfriendly png images to actual code blocks?

then we'd just do:
`
[code]
`
i'd be willing to make the effort, so long as there's something like code fences to get it to display correctly. otherwise, i'm not sure how we'd regen the screen

[2019-02-17 02:52] nightmorph commented on #66
thanks to @benzweig for the [patch](https://github.com/monome/docs/pull/67/commits/1d1d0aadd1d8056b564667c047bf3a32826bf784) to fix the actual `grid_studies_2.js` file; now we just need to see what we can do on the website/docs side.

[2019-02-17 12:31] tehn commented on #66
agreed, this could be just replaced with a formatted code block as suggested by @nightmorph

i'm not sure if any syntax highlighters are currently installed but i can look into it

[2019-02-17 12:48] tehn commented on #66
fixed https://github.com/monome/docs/commit/474e4f3afded0446132ae3898712e5c61cba3d92

[2019-02-17 12:48] #66 closed

[2019-06-12 08:59] neauoire opened #96 "Studies5 Norns black screen"
Fresh install, trying to run `studies5.lua`, documented [here](https://monome.org/docs/norns/study-5/) just shows a black screen. I might be able to fix this issue soon enough.

[2019-06-18 02:46] #96 closed

[2019-06-24 18:18] #64 closed

[2019-06-24 18:19] tehn opened #108 "norns script reference"
needs completion, see https://github.com/monome/norns/issues/717

https://monome.org/docs/norns/script-reference/

sources here https://github.com/monome/docs/blob/master/docs/norns/script-reference.md

[2019-09-13 14:05] infovore opened #119 "Ansible docs sprawl"
The Ansible documentation is getting _really_ long.

[This thread on lines](https://llllllll.co/t/kria-loop-length-feature-broken/25463/11) is in part about a perceived issue that came down to
- a change in default behaviour after a firmware update
- ...that they couldn't find an explanation of how to alter in the documentation
- ...despite it actually being documented.

Ansible now has... five ap

[2019-09-13 14:44] dndrks commented on #119
@infovore , I **just** mentioned this to @tehn yesterday -- there was a Kria support request that made clear the need for some optimization. excellent timing and thank you for opening the issue!

I love the idea to split the apps into separate doc pages, which is also in line with a plan to create short video demonstrations of parameters/functions within each app.

happy to share the work if you'r

[2019-09-13 14:49] infovore commented on #119
I think I'd like to take a pass at this - I enjoyed working on the Ansible docs last time, and I wrote a pile of the docs for Ansible-Earthsea too. It's likely it's going to be a bit of a running branch whilst we fettle it - I don't think it's just a case of cutting it into six!

One question, which @tehn might be able to answer: is there an easy way of previewing how the docs will look in the mon

[2019-09-13 14:56] infovore commented on #119
(might be worth kicking off a 'project' - there are some things where I'd like review etc of)

[2019-09-13 15:02] dndrks commented on #119
sounds great! happy to do whatever's needed, just let me know :)
https://github.com/monome/docs/projects/1

[2019-09-13 15:06] infovore commented on #119
Annoyingly, it looks like I can't add tickets to a project - I wasn't quite sure how that worked on repos I'm not a collaborator on. No worries, there's not a burning issue just yet. Although I've kicked off my own branch for now and my own project, and I'll manage it there and maybe just submit PRs. We'll see.

[2019-09-13 15:21] tehn commented on #119
@infovore added you as a collaborator!

[2019-09-24 00:01] dndrks opened #122 "Ansible (Cycles) doc: config incomplete"
[current doc](https://monome.org/docs/modular/ansible/cycles/) for Cycles is missing descriptions for additional config pages (K1 press while holding K2):
- Range (to attenuate the output level of Cycles)
- Pulse Multiplier (change how many pulses are output from a full rotation)

did we lose these when breaking up the apps into individual pages?

[2019-09-28 04:49] csboling opened #126 "should docs/crow be docs/modular/crow?"
Perhaps an unimportant detail but surprised me for a moment when I tried to change a URL bar from the Ansible docs to the Crow docs. I realize this would probably break some URLs elsewhere, maybe /docs/crow could redirect to /docs/modular/crow or vice versa. Seems nice for consistency, especially if there were a desire to have a /docs/modular page giving a high level overview of all the modular st

[2019-10-02 01:09] csboling commented on #122
@dndrks I can't find this prior to the Earthsea docs merge either (e.g. [3a45807](https://github.com/monome/docs/blob/3a45807355f16920191283c3113ab2eb13edc012/docs/modular/ansible/index.md#config-1)), which was the other recent Ansible docs shakeup. Levels has quite a nice [diagram](https://monome.org/docs/modular/ansible/levels/#config) for its config options, not sure if a similar image would ha

[2019-10-02 11:50] tehn commented on #122
those modes were added after laborcamp did the original illustrations.

new ones could be made using the .ai files in the `resources` folder... there are some capable people on lines that might volunteer?

[2019-10-06 19:01] tehn commented on #126
i'm looking to migrate all of the module docs to a shorter url, ie monome/docs/teletype

i'll work on some redirects, and i apologize for the inconsistency--- indeed it's frustrating for the moment

[2019-10-06 19:05] #126 closed

[2019-10-06 23:36] #20 closed

[2019-10-10 14:40] tehn opened #147 "CSS fixes and improvements"
docs are about to be migrated to gh-pages and the css/layout (jekyll) will be fully exposed

quick list of improvements:

- [ ] link visibility
- [ ] `code` blocks could use definition, perhaps a thin outline (like discourse/slack)
- [ ] table formatting is totally messed up

[2019-10-10 17:32] dndrks commented on #147
header sizes seem to have less of a gradient, which makes spacing around `####` wonky. when writing in MacDown, it's a _bit_ cleaner. FAQ, for example:

<img width="505" alt="Screen Shot 2019-10-10 at 12 30 39 PM" src="https://user-images.githubusercontent.com/24821020/66592084-f6fe7a00-eb59-11e9-9c02-a15833777d3a.png">

vs.

<img width="761" alt="Screen Shot 2019-10-10 at 12 31 33 PM" src="https:

[2019-10-10 20:46] tehn commented on #147
this screenshot also shows a nice rendering of a `code block`

[2019-10-12 19:15] oliviercreurer opened #154 "/crow/scripting/reference returns a 404"
https://monome.org/docs/crow/scripting/reference

I seem to have been able to access this a couple of days ago from the `crow/scripting` page. Might this be related to the migration to github pages?

[2019-10-12 20:05] tehn commented on #154
fixed 3fce53e..e3ca455

[2019-10-12 20:05] tehn commented on #154
the proper link is monome.org/docs/crow/reference

[2019-10-12 20:06] #154 closed, assigned to nobody

[2019-10-15 10:22] aidanreilly opened #163 "Add search to docs"
A site specific search would be a very useful addition to the monome docs.

[2019-10-15 10:24] aidanreilly opened #164 "Add a navigation to docs pages"
A left hand navigation would be beneficial for users. it's expected for most docs sites IMO.

[2019-10-15 12:49] tehn commented on #163
@simonvanderveldt did a nice search on his jekyll site:

http://rennsportengineering.com/wiki/
https://github.com/rennsportengineering/wiki

[2019-10-15 12:51] tehn commented on #164
agreed. see TT manual. https://monome.org/docs/modular/teletype/manual/

basically we need a redesign proposal.

[2019-10-15 20:02] simonvanderveldt commented on #163
Yeah, it's slightly problematic in that GitHub Pages/Jekyll are static sites, meaning there's no backed you can send search queries to.

So pretty much the only thing you can do is create an index which contains all the data/things you want to search for, probably in a JSON file, and then use that as the "backend" for the search.

This does mean that all this data needs to be downloaded/read by th

[2019-10-15 23:06] aidanreilly commented on #163
I went ahead and forked the docs repo to play around with an mkdocs build. You can have a poke around that output here: https://aidanreilly.github.io/docs-test/ the actual markdown content is unchanged, so some of the page links are broken, however, the left hand 'site nav', and right hand 'page nav' should be working OK, or enough to get a feel for how mkdocs works. The search also works. Site se

[2019-10-16 00:30] tehn commented on #163
this is very impressive! i wasn't aware of mkdocs, thank you

i could see this working well with some styling and removal of some features.

wondering if it's possible to represent more of the doc hierarchy on the left (basically sub-files) or perhaps it's better design to have the ToC be for digging in.

curious to hear more feedback from others.

[2019-10-16 08:05] simonvanderveldt commented on #163
I've worked with mkdocs about 1.5 years ago, it was OKish back then, we dropped it in the end. Don't really remember the details.

What would be the advantage vs the current setup?

Anyway, it would mean a CI setup would need to be added to build the site automatically since it's not Jekyll.
If you like the styling it's probably easier to just use readthedocs and if you want custom styling and to

[2019-10-16 08:56] aidanreilly commented on #163
Hmm. Hadn't considered that CI would be required for mkdocs. From a technical standpoint, I'm not sure there is a benefit tbh.  The out of the box navigation and search is what appeals to me. Perhaps just developing the nav and search for the jekyll build is the best approach as you say.  There is a tech doc theme for jekyll here which seems nice:

https://github.com/pmarsceill/just-the-docs

[2019-10-16 11:58] tehn commented on #163
ah. yes we need a jekyll solution--- i really don't want to add another CI layer.

just-the-docs looks good and would be a simple starting point for styling

[2019-10-16 12:16] aidanreilly commented on #163
i'll spin that up and see what it looks like.

[2019-10-16 17:42] simonvanderveldt commented on #163
@tehn Do you have any ideas/direction regarding styling of the docs?
How much should it match with the monome site?

[2019-10-16 17:54] aidanreilly commented on #163
https://aidanreilly.github.io/docs/ basic just-the-docs jekyll template. Search seems ok - lunr.js. A bit fiddly on mobile.

I noticed topics don't have titles, this might be an issue for proper navigation. The TOC also needs some work i think.

[2019-10-16 18:07] tehn commented on #163
@aidanreilly looks like a good start! the search works well.

interesting that there are a bunch of links missing on the sidebar. and there's no ToC?

@simonvanderveldt re: styling. it should follow the monome site (colors, face, etc) i think something close to the TT docs layout makes sense: https://monome.org/docs/modular/teletype/manual/

makethedocs had really good table format styling

[2019-10-16 18:16] simonvanderveldt commented on #163
That looks pretty nice and very legible!
It seems to be a [HTML page generated using pandoc](https://github.com/monome/docs/blob/gh-pages/modular/teletype/manual/index.html). i guess we could look into getting the basic styling and sidebar layout and transplanting that on top of just-the-docs?

[2019-10-16 18:17] tehn commented on #163
styling/formatting is easy to change as long as the core functionality we want is there (sidebar pages, ToC, search)

[2019-10-16 19:24] aidanreilly commented on #163
Re: page titles - this particular theme requires a title in the header for navigation. There’s probably an easy enough search and replace to duplicate the first occurrence h1 titles into the header for *.md. Child topics navigation would also need to be done.

There may be a Jekyll plug-in to make this easier, I’m not sure.

Aidan

﻿
styling/formatting is easy to change as long as the core functio

[2019-10-17 02:01] oliviercreurer commented on #163
I was independently drafting some visual ideas for the fresh docs today, and was notified of this existing thread by @tehn -- hope I'm not stepping on any toes. I'm no web developer (I just have some basic css chops), but I do love design -- happy to help in any way I can.

Here's a basic side navigation layout I put together today (similar to work I did on the TT web manual), using `crow` as a le

[2019-10-17 08:26] aidanreilly commented on #163
Olivier, these look really nice! Have you looked at the sample site i linked above? I think we could incorporate these ideas easily enough. I'm not a web developer either though, but i do enjoy hacking at these things.

@tehn @simonvanderveldt - need to decide if we are going to proceed with this just-the-docs theme. If we do, then we'll need to build a navigation for each and every markdown file.

[2019-10-17 11:04] simonvanderveldt commented on #163
I'm not sure I understand the question entirely, but I'll respond with another question :stuck_out_tongue:

Do we already know if we want the in page navigation to be in the sidebar or should it be at the top of the page itself?

[2019-10-17 11:42] aidanreilly commented on #163
oh you mean we need some requirements? :)

[2019-10-17 11:57] aidanreilly commented on #163
regarding my previous post, this is an example of the kind of header info we need per markdown file to provide a nav with this theme:

![image](https://user-images.githubusercontent.com/5412997/67006504-3a6a6280-f0dd-11e9-9ae2-ac8ecec222dc.png)

this is what is present in the doc files right now:

![image](https://user-images.githubusercontent.com/5412997/67006642-8d441a00-f0dd-11e9-90e5-de26dbec9

[2019-10-17 11:58] oliviercreurer commented on #163
I admit to being relatively ignorant of technical constraints (though of course I want to learn!), but I think a nice model would be for the side nav to change depending on the context so that it's more useful.

In essence, the [/docs](https://monome.org/docs/) index would remain the same (perhaps just a light re-design would do), and then the side navigation would become available once you've jum

[2019-10-17 12:05] aidanreilly commented on #163
@oliviercreurer I opened this issue for the nav stuff: https://github.com/monome/docs/issues/164

[2019-10-17 13:54] oliviercreurer commented on #164
Gonna try to put a small proposal together today (mostly a collection of mocks as a starting point for discussion). Will post here when ready!

[2019-10-17 14:29] aidanreilly commented on #164
cool :) In the meantime, still playing with jekyll. I added the yaml front matter to the crow docs to see what they look like in the left hand nav: https://aidanreilly.github.io/docs/crow

updated in parent topic:
![image](https://user-images.githubusercontent.com/5412997/67018157-b7ec9d80-f0f2-11e9-9940-0ceba9562f76.png)
and in the child topic:
![image](https://user-images.githubusercontent.com/5

[2019-10-18 09:10] aidanreilly commented on #164
made a small change to the default layout for in page TOC generation. the default was to put a TOC at the bottom of the page for some reason. Moved TOC to the top. example: https://aidanreilly.github.io/docs/crow

[2019-10-18 12:27] oliviercreurer commented on #164
@tehn @aidanreilly @dndrks -- My proposal so far is to have a side navigation that, coupled with a significant reorganization of existing docs, would ensure that a user is ever only one level removed from the [main index](https://monome.org/docs/) (at least in the wide majority of cases). Hopefully, with a structure like this, it becomes easier for users to keep a mental model as they read/learn,

[2019-10-18 13:14] tehn commented on #164
@oliviercreurer those are some beautiful renders.

i really like the single sidebar, where essentially the ToC gets combined with the broader navigation.

i'm not sure how jekyll itself would auto-generate the sidebar, but i don't think it would be a stretch to do some sort of `include` directive as long as the content maintenance was relatively low--- basically i'm concerned about content getting

[2019-10-18 15:05] aidanreilly commented on #164
Should be easy enough to pull the page TOC out into a separate block top right of the page, away from the main content. I'll see if I can do that when i get a chance. It'll need to sit on top of the content for mobile viewing of course.

Regarding @oliviercreurer 's suggestions - do we have some web folks that would be able to help with implementing these Nav suggestions?

Also - any further devel

[2019-10-18 15:09] aidanreilly commented on #164
Also, regarding monolithic pages versus discrete topics - i'm very much in favor of discrete task-oriented topics. There is balance required here of course.

[2019-10-18 15:27] aidanreilly commented on #164
Page level TOC could potentially just go away if the Nav could be made to do as Olivier’s designs suggest. that would probably be the optimal solution right?

[2019-10-18 16:51] oliviercreurer commented on #164
Yeah, I _definitely_ hear and feel that. Ideally, the nav/ToCs should provide contributors with a clear and sufficiently broad categorization structure (in any context) that can easily accommodate new content. In other words, any changes to a specific ToC should be rare, deliberate and agreed upon.

Perhaps the main index page could now be comprised of best practices for contributions.

[2019-10-18 16:56] aidanreilly commented on #164
FYI if we manage page level TOC from the individual topic headers, page level TOC gets auto-generated at build time.

[2019-10-18 19:43] dndrks opened #171 "Max 7 package page 404'ing"
http://monome.org/docs/app/ -> http://monome.org/docs/app/package/ is 404'ing, even though the doc is live: https://github.com/monome/docs/blob/gh-pages/app/package.md

wasn't sure how to get this cleaned up on my own :\

[2019-10-19 12:46] tehn commented on #171
fixed 28a2bee..6b93cc8

[2019-10-19 12:46] #171 closed, assigned to tehn

[2019-10-20 21:27] dndrks opened #172 "druid: update windows instructions"
edit: I can't take this on, as it requires validation and testing through Windows

https://llllllll.co/t/crow-help-general-connectivity-device-qs-ecosystem/25866/113

https://docs.google.com/document/d/11Bnly-JOBh4_mWSyIGmEIpE_YO-6VH179KSHEWTZr2M/edit

supplemental documentation from oootini:

[2019-10-22 14:35] aidanreilly commented on #172
Thanks Dan. I think the main thing that needs communicating is that for an unresponsive crow caused by a broken script, you need to erase the broken user script.

Suggesting something like the below as a new troubleshooting topic in the crow docs that could be added to as issues crop up:

******************************

#Troubleshooting common crow issues

Below are issues and potential fixes that

[2019-10-22 20:25] tehn commented on #164
@oliviercreurer i'm not sure hw feasible it is to merge the ToC (ie, links to headings in a particular page) with links to other pages

basically i feel just-the-docs is a good starting place. certainly it requires a bit of extra tagging but that's not a big deal. i am happy to take on the content portion.

but i would be _very_ happy to get some design/css assistance. particularly with the mobile

[2019-10-22 20:25] tehn commented on #163
it's confusing to have two issues about the same redesign so i'm going to say we merge this discussion with https://github.com/monome/docs/issues/164

[2019-10-22 20:25] #163 closed, assigned to nobody

[2019-10-22 21:07] tehn commented on #164
@aidanreilly your proof of concept with just-the-docs looks good--- just to clarify, i'm going to move around a lot of pages which is why i didn't just fork yours as a starting point

[2019-10-22 21:27] aidanreilly commented on #164
Yup all good. My fork was just a quick POC.  Happy to help however.

Aidan

﻿
@aidanreilly your proof of concept with just-the-docs looks good--- just to clarify, i'm going to move around a lot of pages which is why i didn't just fork yours as a starting point

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-22 21:28] tehn commented on #164
changed my mind-- forked yours :)

[2019-10-22 22:24] aidanreilly commented on #164
Wasn’t expecting this to be forked as source tbh. I chopped a lot of extra files and folders to quickly test the theme, footers, extra HTML templates, stuff like that. I guess anything that’s needed can just be put back.

Aidan

﻿
changed my mind-- forked yours :)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-23 12:06] aidanreilly commented on #172
Also need to update for basic update procedure on windows.

****************
#Windows firmware update procedure

Run the following from a command prompt opened at the extracted firmware download folder:

    dfu-util -a 0 -s 0x08020000 -R -D crow.bin -d ,0483:df11

[2019-10-23 12:14] dndrks commented on #172
this bucket currently lives under `docs/crow/technical`: https://monome.org/docs/crow/technical/#recovering-from-an-unresponsive-state (we have not yet added the windows instructions you've provided)

do you think, rather, https://monome.org/docs/crow/faq/ should have a `troubleshooting` section?

[2019-10-23 13:04] aidanreilly commented on #172
I would put it under a new topic at the same level as update, FAQ, etc.  Seems kind of buried in the technical section (i hadn't clocked that the procedure was there actually). And to me, it doesn't fit in a FAQ.

[2019-10-23 16:35] GoneCaving commented on #5
The variable D defaults to have value=4. So the description is correct, if slightly less clear than it could be. Is it worth updating the description? If not, then this issue could be closed.

[2019-10-25 07:57] aidanreilly commented on #172
These instructions aren’t correct. In my recent experience, the entire force bootload, usb zadig update, dfu erase, and dfu update procedure needs to be run each and every time there is a hard crash. Even then, crow takes a number of power cycles before even being recognized by the zadig exe.

edit: maybe this will go away with new 1.0.1 firmware. will test.

[2019-10-28 18:25] oliviercreurer commented on #164
@tehn Cool! Sorry about the radio silence on my end -- my 9-5 got a lot busier recently. Still happy to chip in for mobile design help/feedback as needed; my css skills, on the other hand, are pretty basic and limited.

[2019-10-28 21:24] tehn commented on #164
@oliviercreurer no problem. would be happy to get your opinions when i get a beta layout posted. realized it was going to take me a bit of time given i should restructure the whole content while i do this :)

[2019-10-28 23:16] aidanreilly commented on #164
Yes I kind of had the same realization looking at the docs. it's going to be a big job.

[2019-11-08 14:48] jlmitch5 opened #187 "make Vimeo embeds responsive"
Currently for product pages, the Vimeo embed at the top is not responsive, so things horizontally scroll on mobile.  See the root teletype doc page for example.

[2019-11-08 17:07] tehn commented on #187
thanks for spotting this. any ideas for a fix?

[2019-11-09 10:48] nattog commented on #187
My Ruby installs are a mess so haven't been able to test locally but try selecting responsive sizing when generating the Vimeo embed code:

![Screenshot 2019-11-09 at 10 05 04](https://user-images.githubusercontent.com/38443772/68526882-8a9da480-02d8-11ea-8021-46924ebf7f33.png)

[2019-11-10 15:22] tehn commented on #187
fixed 7d534c6..33681d0

[2019-11-10 15:22] #187 closed, assigned to nobody

[2019-11-10 15:22] #164 closed, assigned to nobody

[2019-11-10 15:22] #147 closed

[2019-11-10 15:23] #119 closed

[2019-11-10 15:24] #108 closed

[2019-11-14 20:48] dndrks commented on #172
@aidanreilly , I updated the docs to mirror current best practices on 1.0.1 -- seems like everything is now way more straightforward (including the `windows-erase_userscript.bat`). plz feel free to re-open if I've got any blind spots!!

changed:
https://monome.org/docs/crow/druid/#install-druid-on-windows
https://monome.org/docs/crow/update/#setup-dfu-util
https://monome.org/docs/crow/update/#wind

[2019-11-14 20:48] #172 closed, assigned to dndrks

[2019-11-15 08:54] aidanreilly commented on #172
All good! Great effort.

Aidan

﻿
@aidanreilly , I updated the docs to mirror current best practices on 1.0.1 -- seems like everything is now way more straightforward (including the windows-erase_userscript.bat). plz feel free to re-open if I've got any blind spots!!

changed:
https://monome.org/docs/crow/druid/#install-druid-on-windows
https://monome.org/docs/crow/update/#setup-dfu-util
https://m

[2019-12-12 12:10] montoyamoraga opened #215 "proposal of installing all-contributors bot"
i propose installing the all-contributors bot
https://allcontributors.org/
i really like what we have done at the p5.js repo
https://github.com/processing/p5.js
where we celebrate all contributions,
i think it makes everyone in the community happier
:)

[2019-12-13 16:55] tehn commented on #215
i appreciate the sentiment, but i believe the "contributors" tab is adequate and visually much more appealing: https://github.com/monome/docs/graphs/contributors

[2019-12-13 16:55] #215 closed, assigned to nobody

[2020-04-04 17:08] dndrks opened #239 "norns study 5: filepath examples need updated"
https://llllllll.co/t/norns-fates-data-dir-is-nil/30926

content doesn't match https://github.com/monome/norns/blob/master/lua/core/config.lua

[2020-04-05 18:20] tehn commented on #239
fixed b07dc3c..0e60e7d

[2020-04-05 18:20] #239 closed, assigned to dndrks

[2020-06-15 20:24] mwilliams opened #255 "Code isn't syntax highlighted - thoughts on embedded Github gists?"
Just got my DIY Norns (assembled quickly and works flawlessly by the way, fantastic kit!) as I started going through the studies.  I noticed a missing space on line 16 of the many tomorrow code sample from https://monome.org/docs/norns/study-1/:

[code]

Wanted to fix it quickly but requiring a pull request approval etc etc and presumably a re-deployment of the website for a 1 space fix is a lot o

[2020-06-15 23:11] tehn commented on #255
hi matt! glad the kit worked so easily.

we have the repo set up so it auto-redeploys with each new merge--- since the docs are hosted on github pages. i know it's a hassle to PR each little fix.

better syntax highlighting would be great--- any ideas how we might get that within the pages framework?

i'd be up for using gists for the big code blocks--- it has the added bonus of being easily downl

[2020-06-15 23:31] mwilliams commented on #255
Ah, I definitely over complicated things and the structure of the way things are deployed is great!

With markdown you can simply add the language name after the triple ticks and get instant highlighting.

Example:
[code]

Perhaps as I go through the Norns studies, I’ll update all the Lua code blocks and get PRs up as I move along. As long as the change is welcome, I’ll issue PRs as I go along!

[2020-06-15 23:32] mwilliams commented on #255
(And hello from the Hudson Valley!  Definitely not the most active Norns user here!)

[2020-06-16 00:08] tehn commented on #255
i'm wondering if our jekyll theme properly supports syntax highlighting. the studies predate the move to gh-pages--- previously we hosted our own server. i'll do a quick test.

---

indeed we need to have a upstate gathering someday. bunch of us are nearby!

[2020-06-16 00:13] tehn commented on #255
sadly something is either up with the jekyll plugin or stylesheet

https://github.com/monome/docs/commit/7f678a9afc8f57a0c05de3eb5d33c66145195a1b

i don't have bandwidth for this immediately, hopefully someone can jump in

[2020-06-16 00:20] mwilliams commented on #255
Sounds great, and I’ll take a peek as well and see if I can figure anything
out.

That would require pulling myself away from Norns itself!

On Mon, Jun 15, 2020 at 8:13 PM brian crabtree <notifications@github.com>
wrote:

[2020-06-29 16:44] csboling commented on #255
Not sure if something changed with the gh-pages options but this does appear to be working now for the code blocks that have the `lua` tag, which is a fair number of them. Most of the rest are in https://github.com/monome/docs/pull/260.

![image](https://user-images.githubusercontent.com/7418731/86030235-72a69c80-b9f1-11ea-8291-c4802f341fa3.png)

[2020-06-29 16:49] #255 closed, assigned to nobody

[2021-02-10 03:01] PaulBatchelor opened #288 "Using grid/arc with libmonome directly?"
Would there be any value in writing up a document on writing apps using libmonome directly (without the OSC layer)? This is how I personally have been using my grid/arc on osx/linux for the past few years. I'd be happy to contribute this if there is interest.

[2021-02-10 19:05] tehn commented on #288
i think this would be a fantastic edition to the docs.

there are already some python examples inside of libmonome, but they're somewhat terse and figure-it-out-yourself. i do think some people would appreciate a bit more detail presented in a guided form.

[2021-02-12 03:34] PaulBatchelor commented on #288
Cool. Most of what I know comes from the existing C examples that are in libmonome, but some more explanation would be helpful. IIRC I did slightly peel back an abstraction doing the event polling so that I could manage it more manually (I think I did this worked out better for debugging purposes in my system). There are also some nuances in getting it to read from serial directly and not OSC, whi

[2021-02-18 16:04] tehn commented on #288
yes i think that's a good approach.

would also be interested to hear more about your libmonome fork (if that's what you were suggesting?)

[2021-02-18 20:50] PaulBatchelor commented on #288
cool. I try to take an initial stab at it. I'll probably start with the grid. My goal will be to use the least amount of (readable) code possible to get a decent starting point. Probably a patch that turns lights on and off or something. Words will surround this, naturally. To keep things brief yet informative, I think I'm going to write for an audience reasonably competent at compiling C code fro

[2021-03-18 15:17] PaulBatchelor commented on #288
Following up on this.

I'm currently in the process of outlining structure for what will be a guide for using libmonome with the grid.

Current sections I have in mind:

- Introduction: what this document is, who it is for.
- SerialOSC vs libmonome: brief words on what SerialOSC does and the connection to libmonome (TL;DR: libmonome = no SerialOSC or OSC).
- Hello Grid: more or less the "simple.c"

[2021-03-18 15:34] tehn commented on #288
i think this is a great outline.

to me the main difference between libmonome and serialosc (besides OSC) is the latter allows for focus swapping between applications (which is more complex than serial), multi-unit support, and hot-swapping/auto-detection. BUT libmonome is honestly perhaps perfect for most use cases when you're not just switching max patches a ton, or using ableton/etc.

one thing

[2021-03-19 01:38] catfact commented on #288
woop sorry didn't see this for a while!

yes this would be a good time for those changes.

i agree that for integrating the serial interface with real world C programs, definitely want an explicit poll mechanism instead of / in addition to the polling thread managed by the lib with callbacks. (so that C programmer can make their own decision about threading structure.)

i'm also adding a serial ex

[2021-06-26 13:29] PaulBatchelor commented on #288
@catfact did you ever end up adding new examples?

Life got in the way a bit, but I'm slowly trying to get back into this. I actually have initial words and code for the first few sections of the grid. Believe it or not, I've never used map before, so I'll need to get friendly with that before I write the code for that section. I don't really see any hurdles learning that.

Once I get all the sect

[2021-09-01 13:22] daveriedstra opened #315 "Clarify that arc does not support /sys/rotation"
From https://github.com/monome/docs/blob/gh-pages/serialosc/osc.md#sys:

It's unclear whether this includes the arc, but according to https://github.com/monome/serialosc/issues/55#issuecomment-909907618 arc is not supported.

[2021-10-07 14:30] mwilliams opened #323 "Small typo in Arc documentation"
Would have opened a PR with the fix myself, but I couldn't seem to find the source material that these pages are building from  as I see the docs are automatically built using LDoc

But for the `Arc:segment (ring, from, to, level)` description, the word `specific` is spelled incorrectly: `on a sepcific LED ring.`

The typo exists in the following lines as seen rendered out here https://monome.org/

[2021-10-08 19:58] tehn commented on #323
this api doc is auto-generated from the lua code.

fixed by https://github.com/monome/norns/pull/1458

copied to docs and published

[2021-10-08 19:58] #323 closed, assigned to nobody

[2021-12-23 10:52] duncangeere opened #334 "What is the default time for Crow's stream input mode?"
The docs make reference to a default time, but don't say what it is.

The [input.lua](https://github.com/monome/crow/blob/main/lua/input.lua) file seems to suggest it's 0.1, but this isn't stated in the [script reference](https://monome.org/docs/crow/reference/#input) and probably should be. I can't find where those docs are generated from, or I'd file a pull request myself.

Relatedly, there's a

[2021-12-24 16:09] tyleretters commented on #122
is this still needed @tehn @dndrks ? love me some illustrator.

[2022-03-30 23:08] zjb-s opened #348 "In manual: "PDF command reference" still links to 3.0 sheet"

[2022-03-31 00:11] tehn commented on #348
different repo

blame: https://github.com/monome/teletype/blob/main/docs/intro.md?plain=1#L10

[2022-03-31 00:11] #348 closed, assigned to nobody

[2022-04-25 12:29] dndrks opened #354 "kria docs: 'time modifier' language not consistent"
from `@zop` on lines:

[2022-05-06 01:12] zjb-s opened #357 ""For the best experience with crow, consider its outputs to be control-rate generators""
Is this still true, now that Crow has official(?) support for audio-rate oscillation?

(issue credit @postsolarpunk)

[2022-05-09 13:38] dndrks commented on #357
hi @zjb-s ! hope all's well :)
crow's support for audio-rate is official! [`oscillate`](https://github.com/monome/docs/blob/8b26a66e93578a0acf9793fd4ed8bd46f53b789a/crow/reference.md?plain=1#L198)
in general, the crow FAQ could use some love. mind if we repurpose this issue to log some change proposals for https://github.com/monome/docs/blob/gh-pages/crow/faq.md ?

[2022-05-11 12:44] zjb-s commented on #357
hey hey!

That sounds good to me! Just wanted to post this for him. Thanks :)